<a href="https://colab.research.google.com/github/rohanroney/Play-Store-App-Review-Analysis/blob/main/Rohan_Roney_Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [2]:
# Import all the important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Creating dataframes for both playstore data as well as user reviews data

In [5]:
# Reading the data from the csv files
working_directory = '/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 1/Week 4/Capstone Project 1-Play Store App Review Analysis/dat/'
play_store_df = pd.read_csv(working_directory + 'Play Store Data.csv')
user_reviews_df = pd.read_csv(working_directory + 'User Reviews.csv')

###Understanding the Play Store data

In [6]:
play_store_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [8]:
play_store_df.shape

(10841, 13)

In [7]:
play_store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [9]:
play_store_df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [11]:
play_store_df[play_store_df['Rating']>5]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [26]:
len(list(play_store_df['App'].unique()))

9660

### Remove duplicates

In [110]:
play_store = play_store_df.copy()

In [111]:
play_store.drop_duplicates(subset ="App", keep = 'last', inplace = True)

In [112]:
play_store.shape

(9660, 13)

In [113]:
play_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   object
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

In [114]:
play_store['Rating'].median()

4.3

In [115]:
play_store[play_store['Rating'].isna()]

                                       App  ... Android Ver
113              Wrinkles and rejuvenation  ...  3.0 and up
123                 Manicure - nail design  ...  4.1 and up
126           Skin Care and Natural Beauty  ...  4.1 and up
129    Secrets of beauty, youth and health  ...  2.3 and up
130     Recipes and tips for losing weight  ...  3.0 and up
...                                    ...  ...         ...
10824                            Cardio-FR  ...  4.4 and up
10825                   Naruto & Boruto FR  ...  4.0 and up
10831             payermonstationnement.fr  ...  4.0 and up
10835                             FR Forms  ...  4.0 and up
10838               Parkinson Exercices FR  ...  2.2 and up

[1463 rows x 13 columns]

In [116]:
# Replace NaN values and the oulier values of Rating with the mean values
play_store['Rating'] = play_store['Rating'].fillna(play_store['Rating'].median())

In [117]:
play_store = play_store.drop(10472)

In [118]:
play_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9659 non-null   object
 1   Category        9659 non-null   object
 2   Rating          9659 non-null   float64
 3   Reviews         9659 non-null   object
 4   Size            9659 non-null   object
 5   Installs        9659 non-null   object
 6   Type            9658 non-null   object
 7   Price           9659 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9659 non-null   object
 10  Last Updated    9659 non-null   object
 11  Current Ver     9651 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

In [119]:
list(play_store['Size'].unique())

['19M',
 '8.7M',
 '25M',
 '2.8M',
 '5.6M',
 '29M',
 '33M',
 '3.1M',
 '28M',
 '12M',
 '20M',
 '21M',
 '37M',
 '2.7M',
 '5.5M',
 '17M',
 '39M',
 '31M',
 '14M',
 '4.2M',
 '23M',
 '6.0M',
 '6.1M',
 '4.6M',
 '9.2M',
 '5.2M',
 '11M',
 'Varies with device',
 '9.4M',
 '15M',
 '10M',
 '1.2M',
 '24M',
 '26M',
 '8.0M',
 '7.9M',
 '56M',
 '57M',
 '35M',
 '54M',
 '201k',
 '3.6M',
 '5.7M',
 '8.6M',
 '2.4M',
 '27M',
 '2.5M',
 '7.0M',
 '16M',
 '3.4M',
 '8.9M',
 '3.9M',
 '2.9M',
 '38M',
 '32M',
 '5.4M',
 '18M',
 '1.1M',
 '2.2M',
 '4.5M',
 '9.8M',
 '52M',
 '9.0M',
 '6.7M',
 '30M',
 '2.6M',
 '7.1M',
 '3.7M',
 '22M',
 '7.4M',
 '6.4M',
 '3.2M',
 '8.2M',
 '9.9M',
 '4.9M',
 '9.5M',
 '5.0M',
 '5.9M',
 '13M',
 '73M',
 '6.8M',
 '3.5M',
 '4.0M',
 '2.3M',
 '7.2M',
 '2.1M',
 '42M',
 '7.3M',
 '9.1M',
 '55M',
 '23k',
 '6.5M',
 '1.5M',
 '7.5M',
 '46M',
 '51M',
 '48M',
 '8.5M',
 '41M',
 '8.3M',
 '4.3M',
 '4.7M',
 '3.3M',
 '40M',
 '7.8M',
 '8.8M',
 '6.6M',
 '5.1M',
 '61M',
 '8.4M',
 '118k',
 '44M',
 '695k',
 '1.6M',
 '18k',
 '53M',
 '6.2M',
 '3.0M',
 '5.8M',
 '3.8M',
 '9.6M',
 '45M',
 '63M',
 '49M',
 '4.4M',
 '70M',
 '6.9M',
 '9.3M',
 '10.0M',
 '8.1M',
 '4.8M',
 '36M',
 '77M',
 '84M',
 '97M',
 '2.0M',
 '1.9M',
 '1.8M',
 '5.3M',
 '47M',
 '556k',
 '526k',
 '7.6M',
 '76M',
 '9.7M',
 '78M',
 '72M',
 '43M',
 '7.7M',
 '6.3M',
 '334k',
 '1.4M',
 '34M',
 '93M',
 '65M',
 '100M',
 '50M',
 '68M',
 '79M',
 '64M',
 '67M',
 '94M',
 '59M',
 '60M',
 '58M',
 '232k',
 '99M',
 '624k',
 '95M',
 '8.5k',
 '41k',
 '292k',
 '11k',
 '80M',
 '1.7M',
 '69M',
 '71M',
 '62M',
 '98M',
 '85M',
 '86M',
 '82M',
 '81M',
 '96M',
 '91M',
 '83M',
 '87M',
 '66M',
 '75M',
 '92M',
 '862k',
 '899k',
 '378k',
 '266k',
 '375k',
 '74M',
 '1.3M',
 '975k',
 '980k',
 '4.1M',
 '89M',
 '88M',
 '696k',
 '544k',
 '525k',
 '920k',
 '779k',
 '853k',
 '720k',
 '713k',
 '772k',
 '318k',
 '58k',
 '241k',
 '196k',
 '857k',
 '51k',
 '953k',
 '865k',
 '251k',
 '930k',
 '540k',
 '313k',
 '746k',
 '203k',
 '26k',
 '314k',
 '79k',
 '239k',
 '371k',
 '220k',
 '730k',
 '756k',
 '91k',
 '293k',
 '17k',
 '74k',
 '14k',
 '317k',
 '78k',
 '924k',
 '902k',
 '818k',
 '81k',
 '939k',
 '169k',
 '45k',
 '475k',
 '965k',
 '90M',
 '545k',
 '61k',
 '283k',
 '655k',
 '714k',
 '93k',
 '872k',
 '121k',
 '322k',
 '1.0M',
 '976k',
 '172k',
 '238k',
 '549k',
 '206k',
 '954k',
 '444k',
 '717k',
 '210k',
 '609k',
 '308k',
 '705k',
 '306k',
 '904k',
 '473k',
 '175k',
 '350k',
 '383k',
 '454k',
 '421k',
 '70k',
 '812k',
 '442k',
 '842k',
 '417k',
 '412k',
 '459k',
 '478k',
 '335k',
 '782k',
 '721k',
 '430k',
 '429k',
 '192k',
 '200k',
 '460k',
 '728k',
 '496k',
 '816k',
 '414k',
 '506k',
 '704k',
 '887k',
 '613k',
 '243k',
 '569k',
 '778k',
 '683k',
 '592k',
 '319k',
 '186k',
 '840k',
 '647k',
 '191k',
 '373k',
 '437k',
 '598k',
 '716k',
 '585k',
 '982k',
 '222k',
 '219k',
 '55k',
 '948k',
 '323k',
 '691k',
 '511k',
 '951k',
 '963k',
 '25k',
 '554k',
 '351k',
 '27k',
 '82k',
 '208k',
 '913k',
 '514k',
 '551k',
 '29k',
 '103k',
 '898k',
 '743k',
 '116k',
 '153k',
 '209k',
 '353k',
 '499k',
 '173k',
 '597k',
 '809k',
 '122k',
 '411k',
 '400k',
 '801k',
 '787k',
 '237k',
 '50k',
 '643k',
 '986k',
 '97k',
 '516k',
 '837k',
 '780k',
 '961k',
 '269k',
 '20k',
 '498k',
 '600k',
 '749k',
 '642k',
 '881k',
 '72k',
 '656k',
 '601k',
 '221k',
 '228k',
 '108k',
 '940k',
 '176k',
 '33k',
 '663k',
 '34k',
 '942k',
 '259k',
 '164k',
 '458k',
 '245k',
 '629k',
 '28k',
 '288k',
 '775k',
 '785k',
 '636k',
 '916k',
 '994k',
 '309k',
 '485k',
 '914k',
 '903k',
 '608k',
 '500k',
 '54k',
 '562k',
 '847k',
 '957k',
 '688k',
 '811k',
 '270k',
 '48k',
 '329k',
 '523k',
 '921k',
 '874k',
 '981k',
 '784k',
 '280k',
 '24k',
 '518k',
 '754k',
 '892k',
 '154k',
 '860k',
 '364k',
 '387k',
 '626k',
 '161k',
 '879k',
 '39k',
 '970k',
 '170k',
 '141k',
 '160k',
 '144k',
 '143k',
 '190k',
 '376k',
 '193k',
 '246k',
 '73k',
 '658k',
 '992k',
 '253k',
 '420k',
 '404k',
 '470k',
 '226k',
 '240k',
 '89k',
 '234k',
 '257k',
 '861k',
 '467k',
 '157k',
 '44k',
 '676k',
 '67k',
 '552k',
 '885k',
 '1020k',
 '582k',
 '619k']

In [120]:
play_store['Installs'].value_counts()

1,000,000+        1419
100,000+          1114
10,000+           1031
10,000,000+        933
1,000+             887
100+               709
5,000,000+         607
500,000+           504
50,000+            469
5,000+             468
10+                385
500+               328
50,000,000+        204
50+                204
100,000,000+       189
5+                  82
1+                  67
500,000,000+        24
1,000,000,000+      20
0+                  14
0                    1
Name: Installs, dtype: int64

In [81]:
def convert_to_float(value):

  ''' Returns evaluated value '''
  return eval(value)

In [121]:
# Changing the Reviews column to float type
play_store['Reviews'] = play_store['Reviews'].apply(convert_to_float)

In [90]:
def convert_size_value(value):

  ''' Converting KB to MB and giving out the result'''

  if (value[-1]=='M'):
    val = value[0:-1]  
    return eval(val)

  elif (value[-1]=='k'):
    val = value[0:-1]
    return (eval(val))/1000

  else:
    return 0

In [122]:
# Formatting of Size data
play_store['Size'] = play_store['Size'].apply(convert_size_value)
play_store.loc[play_store['Size']==0,'Size'] = play_store.loc[play_store['Size']>0,'Size'].median()

In [123]:
# Formatting of Installs data
play_store.Installs = play_store.Installs.apply(lambda x: x.strip('+'))
play_store.Installs = play_store.Installs.apply(lambda x: x.replace(',',''))

In [125]:
play_store['Installs'] = play_store['Installs'].apply(convert_to_float)

['10000',
 '5000000',
 '50000000',
 '100000',
 '50000',
 '1000000',
 '10000000',
 '5000',
 '500000',
 '1000000000',
 '100000000',
 '1000',
 '50',
 '100',
 '500',
 '10',
 '1',
 '5',
 '500000000',
 '0']

In [127]:
play_store.describe()

            Rating       Reviews         Size      Installs
count  9659.000000  9.659000e+03  9659.000000  9.659000e+03
mean      4.192422  2.166512e+05    19.331161  7.794247e+06
std       0.496071  1.830738e+06    20.585379  5.376991e+07
min       1.000000  0.000000e+00     0.008500  0.000000e+00
25%       4.000000  2.500000e+01     5.300000  1.000000e+03
50%       4.300000  9.690000e+02    12.000000  1.000000e+05
75%       4.500000  2.940100e+04    25.000000  1.000000e+06
max       5.000000  7.812821e+07   100.000000  1.000000e+09

#### Cleaning the Type data

In [136]:
play_store.Type.unique()

array(['Free', 'Paid', nan], dtype=object)

In [132]:
play_store[play_store.Type.isna()]

                            App  ...         Android Ver
9148  Command & Conquer: Rivals  ...  Varies with device

[1 rows x 13 columns]

In [137]:
play_store.Type =play_store.Type.fillna('Free')

#### Cleaning the Price Data

In [139]:
play_store.Price.unique()

array(['0', '$4.99', '$3.99', '$1.49', '$2.99', '$7.99', '$3.49', '$1.99',
       '$5.99', '$6.99', '$9.99', '$7.49', '$0.99', '$1.00', '$2.49',
       '$10.99', '$1.50', '$14.99', '$15.99', '$79.99', '$9.00', '$10.00',
       '$16.99', '$11.99', '$29.99', '$74.99', '$5.49', '$33.99',
       '$24.99', '$39.99', '$19.99', '$4.49', '$1.70', '$8.99', '$2.00',
       '$3.88', '$25.99', '$399.99', '$17.99', '$400.00', '$3.02',
       '$1.76', '$4.84', '$4.77', '$1.61', '$2.50', '$1.59', '$6.49',
       '$1.29', '$5.00', '$13.99', '$299.99', '$379.99', '$37.99',
       '$18.99', '$389.99', '$19.90', '$8.49', '$1.75', '$14.00', '$4.85',
       '$46.99', '$109.99', '$3.95', '$154.99', '$3.08', '$2.59', '$4.80',
       '$1.96', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04', '$12.99',
       '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95', '$2.90',
       '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [140]:
play_store.Price = play_store.Price.apply(lambda x: x.strip('$'))

In [143]:
play_store['Price'] = play_store['Price'].apply(convert_to_float)

In [144]:
play_store.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up
5                         Paper flowers instructions  ...    2.3 and up

[5 rows x 13 columns]

In [146]:
play_store.describe()

            Rating       Reviews         Size      Installs        Price
count  9659.000000  9.659000e+03  9659.000000  9.659000e+03  9659.000000
mean      4.192422  2.166512e+05    19.331161  7.794247e+06     1.097231
std       0.496071  1.830738e+06    20.585379  5.376991e+07    16.851618
min       1.000000  0.000000e+00     0.008500  0.000000e+00     0.000000
25%       4.000000  2.500000e+01     5.300000  1.000000e+03     0.000000
50%       4.300000  9.690000e+02    12.000000  1.000000e+05     0.000000
75%       4.500000  2.940100e+04    25.000000  1.000000e+06     0.000000
max       5.000000  7.812821e+07   100.000000  1.000000e+09   400.000000

### Information based on Category

In [149]:
Category_df = play_store.groupby('Category').agg({'App':"count",'Rating': "mean",'Reviews':"sum",'Installs':"sum",'Size':"median"}).sort_values(by=['App','Rating','Reviews','Installs','Size'],ascending = [False,False,False,False,False]).rename(columns ={'App':'Num_Apps','Rating':'Avg. Ratings','Reviews':'Total_reviews','Installs':'Total_installs','Size':'Avg_Size(MB)'})

In [150]:
Category_df

                     Num_Apps  Avg. Ratings  ...  Total_installs  Avg_Size(MB)
Category                                     ...
FAMILY                   1906      4.200367  ...      8870642505         17.00
GAME                      926      4.243305  ...     10897924415         34.00
TOOLS                     829      4.074427  ...      8102771915          5.20
BUSINESS                  419      4.172792  ...       692164865         10.00
MEDICAL                   396      4.204040  ...        39203077         12.50
PERSONALIZATION           376      4.325532  ...      1532494782          7.70
PRODUCTIVITY              374      4.206150  ...      5788091369         11.00
LIFESTYLE                 369      4.131436  ...       503823539         12.00
FINANCE                   345      4.138551  ...       455348734         12.00
SPORTS                    327      4.234862  ...      1296474498         14.00
COMMUNICATION             316      4.154747  ...     11039276251         12.00
HEALTH_AND_FITNESS        287      4.250871  ...      1134022512         12.00
PHOTOGRAPHY               281      4.165125  ...      4658147655         12.00
NEWS_AND_MAGAZINES        254      4.156693  ...      2369217760         12.00
SOCIAL                    239      4.255230  ...      5487867902         11.00
BOOKS_AND_REFERENCE       222      4.334234  ...      1665969576          8.75
TRAVEL_AND_LOCAL          219      4.103196  ...      2894887146         13.00
SHOPPING                  202      4.238119  ...      1400348785         12.00
DATING                    170      4.050000  ...       140925107         12.00
VIDEO_PLAYERS             163      4.066871  ...      3917002720         12.00
MAPS_AND_NAVIGATION       131      4.062595  ...       503281890         12.00
FOOD_AND_DRINK            112      4.191964  ...       211798751         13.00
EDUCATION                 102      4.350980  ...       176951000         12.00
AUTO_AND_VEHICLES          85      4.205882  ...        53130211         12.00
LIBRARIES_AND_DEMO         84      4.207143  ...        52995910          3.55
WEATHER                    79      4.248101  ...       361100520         12.00
ENTERTAINMENT              79      4.111392  ...       708660000         12.00
HOUSE_AND_HOME             73      4.167123  ...        97202461         12.00
EVENTS                     64      4.395313  ...        15973161         11.00
ART_AND_DESIGN             61      4.357377  ...       113238100          9.20
PARENTING                  60      4.300000  ...        31521110         12.00
COMICS                     56      4.185714  ...        44981150         12.00
BEAUTY                     53      4.283019  ...        27197050         12.00

[33 rows x 5 columns]

### Checking categorization based on free/paid apps

In [157]:
type_of_app_df = play_store.groupby('Type').agg({'App':"count",'Rating': "mean",'Reviews':"median",'Installs':"mean",'Size':"median"}).sort_values(by=['App','Rating','Reviews','Installs','Size'],ascending = [False,False,False,False,False]).rename(columns ={'App':'Num_Apps','Rating':'Avg. Ratings','Reviews':'Median_reviews','Installs':'Avg_installs','Size':'Avg_Size(MB)'})

In [158]:
type_of_app_df

      Num_Apps  Avg. Ratings  Median_reviews  Avg_installs  Avg_Size(MB)
Type
Free      8905      4.185873          1369.0  8.447757e+06          12.0
Paid       754      4.269761            88.5  7.607929e+04          12.0

#### Top 5 Apps based on Ratings

In [173]:
play_store[['App','Category','Rating']].sort_values(by=['Rating'], ascending = False).head(5)

                                       App            Category  Rating
7405                 Nur təfsiri 1-ci cild  LIBRARIES_AND_DEMO     5.0
7321                               CG Jobs              FAMILY     5.0
9427                               ei Calc               TOOLS     5.0
5776  Food-Aw - Order Food Online in Aruba      FOOD_AND_DRINK     5.0
7320                   CG - Chemistry free              FAMILY     5.0

#### Top 5 Apps based on Reviews

In [174]:
play_store[['App','Category','Reviews']].sort_values(by=['Reviews'], ascending = False).head(5)

                                           App       Category   Reviews
3943                                  Facebook         SOCIAL  78128208
3904                        WhatsApp Messenger  COMMUNICATION  69109672
3909                                 Instagram         SOCIAL  66509917
4104  Messenger – Text and Video Chat for Free  COMMUNICATION  56642847
3986                            Clash of Clans         FAMILY  44881447

#### Top 5 Apps based on Installations Done

In [175]:
play_store[['App','Category','Installs']].sort_values(by=['Installs'], ascending = False).head(5)

                                           App            Category    Installs
4153                                  Hangouts       COMMUNICATION  1000000000
9844                               Google News  NEWS_AND_MAGAZINES  1000000000
4104  Messenger – Text and Video Chat for Free       COMMUNICATION  1000000000
4234             Skype - free IM & video calls       COMMUNICATION  1000000000
3928                                   YouTube       VIDEO_PLAYERS  1000000000